<div class="header">
  <mat-toolbar>
    <mat-icon
      style="font-size: xxx-large; width: auto; height: auto; cursor: pointer"
      (click)="goToHomePage()"
      >description</mat-icon
    >
    <form [formGroup]="parentForm">
      <span class="gray-text text-like-input">
        <mat-form-field class="example-full-width">
          <input
            matInput
            formControlName="formName"
            maxlength="250"
            (blur)="onFormNameBlur()"
          />
        </mat-form-field>
      </span>
    </form>
    <mat-icon
      class="material-icons-outlined disabled"
      style="color: #5f6368; margin-right: 15px"
      matTooltip="( Future scope )"
      >folder</mat-icon
    >
    <mat-icon
      class="material-icons-outlined disabled"
      style="color: #5f6368"
      matTooltip="( Future scope )"
      >star_outline</mat-icon
    >
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon gray-text disabled"
      aria-label="Example icon-button with heart icon"
      matTooltip="( Future scope )"
    >
      <mat-icon class="material-icons-outlined" style="color: #5f6368"
        >palette</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon gray-text"
      aria-label="Example icon-button with heart icon"
      matTooltip="Preview"
      (click)="onPreview()"
    >
      <mat-icon
        class="material-icons-outlined"
        style="color: #5f6368; fill: 5f6368"
        >visibility</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon gray-text disabled"
      aria-label="Example icon-button with heart icon"
      matTooltip="( Future scope )"
    >
      <mat-icon class="material-icons-outlined" style="color: #5f6368"
        >undo</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon gray-text disabled"
      aria-label="Example icon-button with heart icon"
      matTooltip="( Future scope )"
    >
      <mat-icon class="material-icons-outlined" style="color: #5f6368"
        >redo</mat-icon
      >
    </button>
    <button mat-raised-button color="primary" (click)="submitFormAndShowUrl()">
      Save
    </button>

    <button
      mat-icon-button
      class="example-icon favorite-icon gray-text disabled"
      aria-label="Example icon-button with heart icon"
      matTooltip="( Future scope )"
    >
      <mat-icon class="material-icons-outlined" style="color: #5f6368"
        >more_vert</mat-icon
      >
    </button>
  </mat-toolbar>
  <div class="full-width">
    <div class="tabs-group">
      <mat-tab-group (selectedTabChange)="tabChange($event)">
        <mat-tab
          *ngFor="let tab of tabList; let i = index"
          [label]="tab"
          [disabled]="tab == 'Settings'"
        ></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
