<mat-grid-list cols="4" rowHeight="60px">
    <mat-grid-tile colspan=1 rowspan=1 >
    <div class="brand" >
        <img src="../../../assets/forms_icon.png">
        <span class="gb_id">Forms</span>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=2 rowspan=1></mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1 >
        <div class="profile">
            <mat-icon aria-hidden="false" aria-label="Example apps icon" fontIcon="apps" style="margin-right: 20px;color:gray"></mat-icon>
            <span class="circle">
                <mat-icon aria-hidden="false" aria-label="Example person icon" style="background: none;" fontIcon="person"></mat-icon>
            </span>
        </div>
    </mat-grid-tile>
</mat-grid-list>
  