<div style="background: #f0ebf8; min-height: 100%">
  <form [formGroup]="parentForm">
    <app-action-header [parentForm]="parentForm" (submitFormEvent)="submit()">
    </app-action-header>
    <div class="body">
      <div class="form-body">
        <div formArrayName="sections">
          <ng-container
            *ngFor="let section of sections.controls; let i = index"
          >
            <ng-container
              *ngTemplateOutlet="
                sectionTemplate;
                context: { $implicit: sections.controls.at(i), index: i }
              "
            ></ng-container>
          </ng-container>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="addSection()">
        Add section
      </button>
    </div>
  </form>
</div>

<ng-template #sectionTemplate let-section let-sectionIndex="index">
  <div [formGroup]="section">
    <div class="section">
      <div
        (click)="updateSelected(sectionIndex, -1, 'section')"
        class="header selectable"
        [ngClass]="{
          selected:
            sectionIndex == selectedItem.sectionIndex &&
            selectedItem.type == 'section'
        }"
      >
        <div class="section-name">
          <div class="new-text-like-input section-title">
            <mat-form-field class="example-full-width">
              <input placeholder="Form title" matInput formControlName="name" />
            </mat-form-field>
          </div>
        </div>
        <div class="section-description">
          <div class="new-text-like-input">
            <mat-form-field class="example-full-width">
              <input
                placeholder="Form description"
                matInput
                formControlName="description"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div formArrayName="questions">
        <ng-container
          *ngFor="
            let question of getQuestions(sectionIndex).controls;
            let questionIndex = index
          "
        >
          <ng-container
            *ngTemplateOutlet="
              questionTemplate;
              context: {
                $implicit:
                  getQuestions(sectionIndex).controls.at(questionIndex),
                sectionIndex: sectionIndex,
                questionIndex: questionIndex
              }
            "
          ></ng-container>
        </ng-container>
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="addQuestion(sectionIndex)"
      >
        Add question
      </button>
    </div>
  </div>
</ng-template>

<ng-template
  #questionTemplate
  let-question
  let-sectionIndex="sectionIndex"
  let-questionIndex="questionIndex"
>
  <div class="questions">
    <div [formGroup]="question">
      <div
        (click)="updateSelected(sectionIndex, questionIndex, 'question')"
        class="selectable"
        [ngClass]="{
          selected:
            sectionIndex == selectedItem.sectionIndex &&
            questionIndex == selectedItem.questionIndex &&
            selectedItem.type == 'question'
        }"
      >
        <div class=""></div>
        <div class="container">
          <div class="item1 question-title">
            <div style="width: 100%">
              <mat-form-field class="" style="width: 100%">
                <input
                  placeholder="Form title"
                  matInput
                  formControlName="text"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="item2">
            <div style="width: 100%">
              <mat-form-field
                style="
                  width: 100%;
                  border-radius: 4px;
                  border: 1px solid lightgrey;
                  height: 56px;
                "
              >
                <!-- <mat-label>Favorite food</mat-label> -->
                <mat-select formControlName="type">
                  <mat-select-trigger
                    style="display: flex; align-items: center"
                  >
                    <mat-icon class="material-icons-outlined">{{
                      getIconForQuestionType(
                        getQuestions(sectionIndex).at(questionIndex).value.type,
                        true
                      )
                    }}</mat-icon>

                    <span style="margin-left: 10px">{{
                      getQuestions(sectionIndex).at(questionIndex).value.type
                    }}</span>
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let type of questionTypes"
                    [value]="type.value"
                  >
                    <mat-icon
                      class="material-icons-outlined"
                      style="color: #5f6368"
                      >{{ getIconForQuestionType(type.value, true) }}</mat-icon
                    >
                    {{ type.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="options-body">
          <div formArrayName="options">
            <ng-container
              *ngFor="
                let option of getOptions(sectionIndex, questionIndex).controls;
                let optionIndex = index
              "
            >
              <ng-container
                *ngTemplateOutlet="
                  optionTemplate;
                  context: {
                    $implicit: getOptions(
                      sectionIndex,
                      questionIndex
                    ).controls.at(optionIndex),
                    sectionIndex: sectionIndex,
                    questionIndex: questionIndex,
                    optionIndex: optionIndex
                  }
                "
              >
              </ng-container>
            </ng-container>
          </div>

          <div class="option-row add-new-row">
            <mat-icon class="material-icons-outlined" style="color: #dadce0"
              >{{
                getIconForQuestionType(
                  getQuestions(sectionIndex).at(questionIndex).value.type,
                  false
                )
              }}
            </mat-icon>

            <div>
              <span
                class="add-option-text"
                (click)="addOption(sectionIndex, questionIndex)"
              >
                Add option
              </span>
              or
              <span class="add-other-text"> add "Other" </span>
            </div>
          </div>
        </div>
        <div class="question-footer">
          <div class="example-spacer"></div>
          <button
            mat-icon-button
            class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
          <button
            mat-icon-button
            class="example-icon material-symbols-outlined"
            aria-label="Example icon-button with share icon"
            (click)="removeQuestion(sectionIndex, questionIndex)"
          >
            <mat-icon class="material-icons-outlined">delete</mat-icon>
          </button>
          <div class="vert-divider"></div>
          <button
            mat-icon-button
            class="example-icon favorite-icon"
            [ngClass]="{
              pressed:
                getQuestions(sectionIndex).at(questionIndex).value.shuffle
            }"
            aria-label="Example icon-button with heart icon"
            (click)="toggleShiffle(sectionIndex, questionIndex)"
          >
            <mat-icon>shuffle</mat-icon>
          </button>
          <span style="margin-right: 15px; margin-left: 10px">Required</span>
          <mat-slide-toggle
            color="primary"
            formControlName="required"
          ></mat-slide-toggle>
          <button
            mat-icon-button
            class="example-icon material-symbols-outlined"
            aria-label="Example icon-button with share icon"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  #optionTemplate
  let-option
  let-sectionIndex="sectionIndex"
  ,
  let-questionIndex="questionIndex"
  let-optionIndex="optionIndex"
>
  <div [formGroup]="option">
    <div class="option-row">
      <mat-icon class="material-icons-outlined" style="color: #dadce0"
        >{{
          getIconForQuestionType(
            getQuestions(sectionIndex).at(questionIndex).value.type,
            false
          )
        }}
        >
      </mat-icon>

      <span style="flex: 1; margin-left: 10px">
        <div class="new-text-like-input option-text">
          <mat-form-field class="example-full-width">
            <input placeholder="option" matInput formControlName="text" />
          </mat-form-field>
        </div>
      </span>

      <button
        *ngIf="getOptions(sectionIndex, questionIndex).length > 1"
        mat-icon-button
        class="example-icon favorite-icon gray-text remove-row"
        aria-label="Example icon-button with heart icon"
        (click)="removeOption(sectionIndex, questionIndex, optionIndex)"
      >
        <mat-icon class="material-icons-outlined" style="color: #5f6368"
          >close
        </mat-icon>
      </button>
    </div>
  </div>
</ng-template>
