:host {
  --dark-color: #673ab7;
  --light-color: #f0ebf8;
}

.body {
  padding-top: 113px;
  height: calc(100% - 113px);
  background: var(--light-color);
  max-width: 770px;
  min-width: 350px;
  margin: auto;
}

app-action-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.form-body .section {
  margin-bottom: 30px;
  padding: 10px;
}

.section-container:first-child .section .header {
  border-top: 10px solid var(--dark-color);
}

.section-container {
  position: relative;
}

.section-container:first-child .section.multi_section {
  margin-top: 35px;
}

.section-container:first-child .section-number {
  border-bottom: 9px solid var(--dark-color);
}

.section-number {
  position: absolute;
  background-color: var(--dark-color);
  color: white;
  top: -25px;
  left: 10px;
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
}

.header.selectable.multi_section {
  border-top-left-radius: 0;
}

.color-filler {
  width: 8px;
  height: 8px;
  width: 100%;
  background: white;
  border-left: 6px solid #4285f4;
}

.selectable {
  width: calc(100% - 40px);
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  background: white;
  padding: 20px;
  margin-bottom: 30px;
}

.selectable.selected {
  border-left: 6px solid #4285f4 !important;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.item1 {
  flex: 1 1 100%; /* Default: each item takes full width */
  margin-right: 0px;
}

.item2 {
  flex: 1 1 100%; /* Default: each item takes full width */
}

@media (min-width: 600px) {
  .item1 {
    flex: 1 1 calc(60% - 20px);
    margin-right: 20px; /* On larger screens: each item takes half the width */
  }
  .item2 {
    flex: 1 1 40%; /* On larger screens: each item takes half the width */
  }
}

@media (min-width: 950px) {
  .footer {
    display: none;
  }

  .floater-menu {
    display: block !important;
  }

  .testing {
    display: block;
  }
}

@media (max-width: 949px) {
  .floater-menu {
    display: none;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.selectable:not(.selected) .question-footer,
.selectable:not(.selected) .remove-row {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out;
}

.selected .question-footer {
  display: flex;
  align-items: center;
  padding: 5px;
  background: white;
  color: #5f6368;
  border-top: 1px solid #dadce0;
  max-height: 48px;
  transition: max-height 0.3s ease-out;
}

.vert-divider {
  border-right: 1px solid lightgray;
  width: 2px;
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.pressed mat-icon {
  opacity: 1;
}

.unPressed mat-icon {
  opacity: 0;
}

button.pressed {
  background: #f6fafe;
}

.option-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.selectable.selected .option-row {
  margin-bottom: 0;
  height: 48px;
}

.selectable.selected .add-option-text {
  flex: 1;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 5px;
  font-family: Roboto, sans-serif;
  color: #0000008a;
}

.selectable.selected .add-option-text:hover {
  border-bottom: 1px dashed lightgray;
}

.add-other-text {
  color: #1a73e8;
  font-weight: 500;
  cursor: not-allowed;
}

.option-row.add-new-row {
  display: none;
}

.selectable.selected .option-row.add-new-row {
  display: flex;
  height: 48px;
}

.item2 {
  display: none;
}

.selectable.selected .item2 {
  display: flex;
}

.selectable .selected {
  height: auto;
  transition: height 0.5s ease-out;
}

.selectable:not(.selected) {
  height: auto;
}

.selectable {
  position: relative;
}

.floated-menu-container {
  position: absolute;
  right: -62px;
  top: 0px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.floated-menu-body {
  background: white;
  border-radius: 8px;
  padding: 10px;
  padding-bottom: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.floated-menu-icon {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.floated-menu-icon mat-icon,
.footer-menu-container mat-icon {
  color: #5f6368;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
}

.footer-menu-container {
  display: flex;
  padding: 5px;
  justify-content: space-around;
  border-radius: 8px 8px 0 0;
  background: white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid rgb(218, 220, 224);
  border-bottom: 0;
}

.section-name-and-options {
  width: 100%;
}

.section-name-and-options .section-name,
.section-name-and-options .section-more-options {
  display: inline-block;
}

.section-name-and-options .section-name {
  width: calc(100% - 50px);
}

.section-name-and-options .section-name.full-width {
  width: 100%;
}

.section-name-and-options .section-more-options {
  width: 50px;
}

.selectable:not(.selected) .section-name-and-options .section-more-options {
  display: none;
}
