<div style="background: #f0ebf8; min-height: 100%; padding-bottom: 30px">
  <form [formGroup]="parentForm">
    <app-action-header
      [parentForm]="parentForm"
      (submitFormEvent)="submit()"
      (tabChangeEvent)="tabChange($event)"
    >
    </app-action-header>

    <div class="body">
      <mat-spinner
        *ngIf="loader"
        style="
          height: 30px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 100px;
        "
      ></mat-spinner>
      <div
        *ngIf="!loader"
        [style.display]="selectedTab == 'Questions' ? 'block' : 'none'"
        class="form-body"
      >
        <div formArrayName="sections">
          <ng-container
            *ngFor="let section of sections.controls; let i = index"
          >
            <ng-container
              *ngTemplateOutlet="
                sectionTemplate;
                context: { $implicit: sections.controls.at(i), index: i }
              "
            ></ng-container>
          </ng-container>
        </div>
      </div>
      <app-form-responses
        *ngIf="selectedTab == 'Responses' && !loader"
        [formData]="formData"
      ></app-form-responses>
      <app-form-settings *ngIf="selectedTab == 'Settings'"></app-form-settings>
    </div>
  </form>
  <ng-container>
    <ng-container *ngTemplateOutlet="footerMenu"></ng-container>
  </ng-container>
</div>

<ng-template #sectionTemplate let-section let-sectionIndex="index">
  <div [formGroup]="section" class="section-container">
    <div
      class="section"
      [ngClass]="{
        multi_section: sections.length > 1
      }"
    >
      <div
        (click)="updateSelected(sectionIndex, -1, 'section')"
        class="header selectable"
        [ngClass]="{
          selected: isSelected(sectionIndex, -1, 'section'),
          multi_section: sections.length > 1
        }"
      >
        <ng-container *ngIf="isSelected(sectionIndex, -1, 'section')">
          <ng-container
            *ngTemplateOutlet="
              floatedMenu;
              context: {
                sectionIndex: sectionIndex,
              }
            "
          ></ng-container>
        </ng-container>
        <div class="section-name-and-options">
          <div
            class="section-name"
            [ngClass]="{ 'full-width': sections.length == 1 }"
          >
            <div class="new-text-like-input section-title">
              <mat-form-field class="example-full-width">
                <input
                  placeholder="Form title"
                  matInput
                  formControlName="name"
                />
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="sections.length > 1" class="section-more-options">
            <button
              mat-icon-button
              [matMenuTriggerFor]="sectionsMenu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #sectionsMenu="matMenu">
              <button mat-menu-item (click)="duplicateSection($event)">
                <span>Duplicate section</span>
              </button>
              <button mat-menu-item disabled>
                <span>Move section</span>
              </button>
              <button mat-menu-item (click)="removeSectionWrapper($event)">
                <span>Delete section</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="section-description">
          <div class="new-text-like-input">
            <mat-form-field class="example-full-width">
              <input
                placeholder="Form description"
                matInput
                formControlName="description"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div formArrayName="questions">
        <ng-container
          *ngFor="
            let question of getQuestions(sectionIndex).controls;
            let questionIndex = index
          "
        >
          <ng-container
            *ngTemplateOutlet="
              questionTemplate;
              context: {
                $implicit:
                  getQuestions(sectionIndex).controls.at(questionIndex),
                sectionIndex: sectionIndex,
                questionIndex: questionIndex
              }
            "
          ></ng-container>
        </ng-container>
      </div>
    </div>

    <div class="section-number" *ngIf="sections.length > 1">
      <div style="padding: 8px 16px">
        Section {{ sectionIndex + 1 }} of {{ sections.length }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  #questionTemplate
  let-question
  let-sectionIndex="sectionIndex"
  let-questionIndex="questionIndex"
>
  <div class="questions">
    <div [formGroup]="question">
      <div
        (click)="updateSelected(sectionIndex, questionIndex, 'question')"
        class="selectable"
        [ngClass]="{
          selected: isSelected(sectionIndex, questionIndex, 'question')
        }"
      >
        <ng-container
          *ngIf="isSelected(sectionIndex, questionIndex, 'question')"
        >
          <ng-container
            *ngTemplateOutlet="
              floatedMenu;
              context: {
                sectionIndex: sectionIndex,
                questionIndex: questionIndex
              }
            "
          ></ng-container>
        </ng-container>
        <div class=""></div>
        <div class="container">
          <div class="item1 question-title">
            <div style="width: 100%">
              <mat-form-field class="" style="width: 100%">
                <input
                  placeholder="Form title"
                  matInput
                  formControlName="label"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="item2">
            <div style="width: 100%">
              <mat-form-field
                style="
                  width: 100%;
                  border-radius: 4px;
                  border: 1px solid lightgrey;
                  height: 56px;
                "
              >
                <!-- <mat-label>Favorite food</mat-label> -->
                <mat-select formControlName="type">
                  <mat-select-trigger
                    style="display: flex; align-items: center"
                  >
                    <mat-icon class="material-icons-outlined">{{
                      getIconForQuestionType(
                        getQuestions(sectionIndex).at(questionIndex).value.type,
                        true
                      )
                    }}</mat-icon>

                    <span style="margin-left: 10px">{{
                      getQuestions(sectionIndex).at(questionIndex).value.type
                    }}</span>
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let type of questionTypes"
                    [value]="type.value"
                  >
                    <mat-icon
                      class="material-icons-outlined"
                      style="color: #5f6368"
                      >{{ getIconForQuestionType(type.value, true) }}</mat-icon
                    >
                    {{ type.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="options-body">
          <div formArrayName="options">
            <ng-container
              *ngFor="
                let option of getOptions(sectionIndex, questionIndex).controls;
                let optionIndex = index
              "
            >
              <ng-container
                *ngTemplateOutlet="
                  optionTemplate;
                  context: {
                    $implicit: getOptions(
                      sectionIndex,
                      questionIndex
                    ).controls.at(optionIndex),
                    sectionIndex: sectionIndex,
                    questionIndex: questionIndex,
                    optionIndex: optionIndex
                  }
                "
              >
              </ng-container>
            </ng-container>
          </div>

          <div class="option-row add-new-row">
            <mat-icon class="material-icons-outlined" style="color: #dadce0"
              >{{
                getIconForQuestionType(
                  getQuestions(sectionIndex).at(questionIndex).value.type,
                  false
                )
              }}
            </mat-icon>

            <div>
              <span
                class="add-option-text"
                (click)="addOption(sectionIndex, questionIndex)"
              >
                Add option
              </span>
              or
              <span class="add-other-text"> add "Other" </span>
            </div>
          </div>
        </div>
        <div class="question-footer">
          <div class="example-spacer"></div>
          <button
            mat-icon-button
            class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon"
            matTooltip="Duplicate"
            matTooltipPosition="below"
            (click)="duplicateQuestion($event, sectionIndex, questionIndex)"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
          <button
            mat-icon-button
            class="example-icon material-symbols-outlined"
            aria-label="Example icon-button with share icon"
            matTooltip="Delete"
            matTooltipPosition="below"
            (click)="removeQuestion(sectionIndex, questionIndex)"
          >
            <mat-icon class="material-icons-outlined">delete</mat-icon>
          </button>
          <div class="vert-divider"></div>
          <span style="margin-right: 15px; margin-left: 10px">Required</span>
          <mat-slide-toggle
            color="primary"
            formControlName="required"
          ></mat-slide-toggle>
          <div class="section-more-options">
            <button
              mat-icon-button
              [matMenuTriggerFor]="optionsMenu"
              aria-label="Example icon-button with a menu"
              matTooltip="More options"
              matTooltipPosition="below"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #optionsMenu="matMenu">
              <button mat-menu-item disabled class="unPressed">
                <mat-icon>check</mat-icon>
                <span>Description</span>
              </button>
              <button mat-menu-item disabled class="unPressed">
                <mat-icon>check</mat-icon>
                <span> Response validation</span>
              </button>
              <mat-divider></mat-divider>
              <button
                mat-menu-item
                class=""
                [ngClass]="{
                  pressed: isShuffleOn(),
                  unPressed: !isShuffleOn(),
                }"
                (click)="toggleShuffleWrapper()"
              >
                <mat-icon>check</mat-icon>
                <span>Shuffle options order</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  #optionTemplate
  let-option
  let-sectionIndex="sectionIndex"
  ,
  let-questionIndex="questionIndex"
  let-optionIndex="optionIndex"
>
  <div [formGroup]="option">
    <div class="option-row">
      <mat-icon class="material-icons-outlined" style="color: #dadce0"
        >{{
          getIconForQuestionType(
            getQuestions(sectionIndex).at(questionIndex).value.type,
            false
          )
        }}
        >
      </mat-icon>

      <span style="flex: 1; margin-left: 10px">
        <div class="new-text-like-input option-text">
          <mat-form-field class="example-full-width">
            <input placeholder="option" matInput formControlName="label" />
          </mat-form-field>
        </div>
      </span>

      <button
        *ngIf="getOptions(sectionIndex, questionIndex).length > 1"
        mat-icon-button
        class="example-icon favorite-icon gray-text remove-row"
        aria-label="Example icon-button with heart icon"
        (click)="removeOption(sectionIndex, questionIndex, optionIndex)"
        matTooltip="Remove"
        matTooltipPosition="below"
      >
        <mat-icon class="material-icons-outlined" style="color: #5f6368"
          >close
        </mat-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template
  #floatedMenu
  let-sectionIndex="sectionIndex"
  let-questionIndex="questionIndex"
>
  <div class="floater-menu">
    <div class="floated-menu-container">
      <div class="floated-menu-body">
        <div
          class="floated-menu-icon"
          (click)="addQuestionWrapper($event)"
          matTooltip="Add question"
          matTooltipPosition="right"
        >
          <mat-icon class="" style="color: #5f6368">add_circle </mat-icon>
        </div>
        <div class="floated-menu-icon">
          <mat-icon
            class="material-icons-outlined"
            style="color: #5f6368"
            matTooltip="Disabled button (Future scope)"
            matTooltipPosition="right"
            >upload_file
          </mat-icon>
        </div>
        <div class="floated-menu-icon">
          <mat-icon
            class="material-icons-outlined"
            style="color: #5f6368"
            matTooltip="Disabled button (Future scope)"
            matTooltipPosition="right"
            >format_size
          </mat-icon>
        </div>
        <div class="floated-menu-icon">
          <mat-icon
            class="material-icons-outlined"
            style="color: #5f6368"
            matTooltip="Disabled button (Future scope)"
            matTooltipPosition="right"
            >image
          </mat-icon>
        </div>
        <div class="floated-menu-icon">
          <mat-icon
            class="material-icons-outlined"
            style="color: #5f6368"
            matTooltip="Disabled button (Future scope)"
            matTooltipPosition="right"
            >smart_display
          </mat-icon>
        </div>
        <div class="floated-menu-icon" (click)="addSectionWrapper($event)">
          <mat-icon
            class="material-icons-outlined"
            matTooltip="Add section"
            matTooltipPosition="right"
            style="color: #5f6368"
            >splitscreen
          </mat-icon>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #footerMenu>
  <div class="footer">
    <div class="footer-menu-container">
      <button
        mat-icon-button
        matTooltip="Add question"
        matTooltipPosition="above"
        (click)="addQuestionWrapper($event)"
      >
        <mat-icon class="material-icons-outlined">add_circle</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Disabled button (Future scope)"
        matTooltipPosition="above"
      >
        <mat-icon class="material-icons-outlined">upload_file</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Disabled button (Future scope)"
        matTooltipPosition="above"
      >
        <mat-icon class="material-icons-outlined">format_size</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Disabled button (Future scope)"
        matTooltipPosition="above"
      >
        <mat-icon class="material-icons-outlined">image</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Disabled button (Future scope)"
        matTooltipPosition="above"
      >
        <mat-icon class="material-icons-outlined">smart_display</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Add section"
        matTooltipPosition="above"
        (click)="addSectionWrapper($event)"
      >
        <mat-icon class="material-icons-outlined">splitscreen</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
