/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.text-like-input .mdc-text-field--filled:not(.mdc-text-field--disabled),
.text-like-input .mat-mdc-form-field-focus-overlay {
  background: white !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.text-like-input
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: white;
}

.text-like-input .mat-mdc-form-field-subscript-wrapper,
.new-text-like-input .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.text-like-input
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-line-ripple::before {
  width: 0 !important;
}

.text-like-input .mat-mdc-form-field-infix {
  min-height: 0;
  padding: 0 !important;
}

/*for new input*/
.new-text-like-input .mdc-text-field--filled,
.text-like-input .mat-mdc-form-field-focus-overlay {
  padding: 0;
}

.new-text-like-input .mat-mdc-form-field {
  width: 100%;
}

.new-text-like-input .mdc-text-field--filled,
.new-text-like-input .mat-mdc-form-field-focus-overlay {
  background: white !important;
}

/*use for titles only*/
.selected
  .new-text-like-input.section-title
  .mat-mdc-form-field
  .mat-mdc-floating-label.mdc-floating-label,
.selected
  .new-text-like-input.section-title
  .mdc-text-field--no-label
  .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  font-size: 24pt;
  color: rgb(32, 33, 36);
}

.section
  .selectable:first-child
  .new-text-like-input.section-title
  .mat-mdc-form-field
  .mat-mdc-floating-label.mdc-floating-label,
.section
  .selectable:first-child
  .new-text-like-input:first-child.section-title
  .mdc-text-field--no-label
  .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  font-size: 24pt;
  color: rgb(32, 33, 36);
}

.new-text-like-input.section-title
  .mat-mdc-form-field
  .mat-mdc-floating-label.mdc-floating-label,
.new-text-like-input {
  color: rgb(32, 33, 36);
  font-size: 11pt;
}

.selected
  .new-text-like-input
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: #e0e0e0;
}

.new-text-like-input.mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-line-ripple::before {
  border-bottom-color: #e0e0e0 !important;
}

.selected .new-text-like-input:not(.section-title) .mat-mdc-form-field-infix {
  padding: 0 !important;
  margin-top: 4px !important;
  min-height: 21px !important;
}

.new-text-like-input:not(.section-title) .mat-mdc-form-field-infix {
  padding-bottom: 0 !important;
  min-height: 0;
}

/* for non selected selectable*/
.selectable:not(.selected)
  .new-text-like-input
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: white;
}

.selectable:not(.selected)
  .new-text-like-input
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-line-ripple::before {
  width: 0;
}

.selectable:not(.selected)
  .new-text-like-input.section-title
  .mat-mdc-form-field-infix {
  min-height: 0;
  padding: 0;
}

/* css for options input */
.selectable
  .new-text-like-input.option-text
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: white;
}

.selectable
  .new-text-like-input.option-text:hover
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom: 1px dashed lightgray;
}

.new-text-like-input.option-text:not(.section-title) .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  margin-top: 0px !important;
}

.item2 .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.item2
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: white;
}

.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper {
  background: white;
  border-radius: 4px;
}

.item2
  .mdc-text-field--filled:not(.mdc-text-field--disabled):hover
  .mdc-line-ripple::before {
  background: white;
  border: none;
}

.item1
  .mdc-text-field--filled:not(.mdc-text-field--disabled):hover
  .mdc-line-ripple::before {
  background: white;
}

.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
  opacity: 0;
}

.selectable:not(.selected)
  .item1
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: white;
}

.selectable:not(.selected)
  .item1
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
  padding-left: 5px;
}

.selectable:not(.selected) .item1 .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
