/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.text-like-input .mdc-text-field--filled:not(.mdc-text-field--disabled),
.text-like-input .mat-mdc-form-field-focus-overlay {
  background: white !important;
}

.text-like-input
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: white;
}

.text-like-input .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.text-like-input
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-line-ripple::before {
  width: 0 !important;
}
