<div class="submit-footer">
  <div class="policy-text">
    This content is neither created nor endorsed by Google..
    <a
      href="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdGA7g8YeOVoZeiGmxVnniAP5XgTIvd55cj6DBULzWZUga-XQ/reportabuse?source=https://docs.google.com/forms/d/e/1FAIpQLSdGA7g8YeOVoZeiGmxVnniAP5XgTIvd55cj6DBULzWZUga-XQ/viewform"
      >Report Abuse
    </a>
    -
    <a href="https://policies.google.com/terms"> Terms of Service </a>
    -
    <a href="https://policies.google.com/privacy"> Privacy Policy </a>
  </div>
  <div class="google-logo">
    <img src="assets/images/googlelogo.svg" alt="Google" />
    <div class="forms-logo">Forms</div>
  </div>
</div>
