<div class="body">
  <div class="container">
    <div class="form-header card">
      <div class="form-info px24">
        <div class="name">Untitled section</div>
        <div class="description">I am description</div>
      </div>
      <!-- <mat-divider></mat-divider>
      <div class="userInfo"></div> -->
      <mat-divider></mat-divider>
      <div class="form-instruction px24">* Indicates required question</div>
    </div>
    <div class="question card px24">
      <div class="question-text">
        I am question <span class="required">*</span>
      </div>
      <div class="options">
        <mat-radio-group aria-label="Select an option" color="primary">
          <mat-radio-button value="1">I am option 1</mat-radio-button>
          <mat-radio-button value="2">I am option 2</mat-radio-button>
          <mat-radio-button value="3">I am option 3</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question card px24">
      <div class="question-text">
        I am question <span class="required">*</span>
      </div>
      <div class="options">
        <mat-checkbox class="example-margin" color="primary"
          >Option 1</mat-checkbox
        >
        <mat-checkbox class="example-margin" color="primary"
          >Option 2</mat-checkbox
        >
        <mat-checkbox class="example-margin" color="primary"
          >Option 3</mat-checkbox
        >
      </div>
    </div>
    <div class="submit-footer">
      <div class="buttons">
        <button mat-raised-button color="primary">Submit</button>
        <div class="spacer"></div>
        <button mat-button color="primary">Clear form</button>
      </div>
      <div class="policy-text">
        This content is neither created nor endorsed by Google..
        <a
          href="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdGA7g8YeOVoZeiGmxVnniAP5XgTIvd55cj6DBULzWZUga-XQ/reportabuse?source=https://docs.google.com/forms/d/e/1FAIpQLSdGA7g8YeOVoZeiGmxVnniAP5XgTIvd55cj6DBULzWZUga-XQ/viewform"
          >Report Abuse
        </a>
        -
        <a href="https://policies.google.com/terms"> Terms of Service </a>
        -
        <a href="https://policies.google.com/privacy"> Privacy Policy </a>
      </div>
      <div class="google-logo">
        <img src="assets/googlelogo.svg" alt="Google" />
        <div class="forms-logo">forms</div>
      </div>
    </div>
  </div>
</div>
