:host {
  --dark-color: #673ab7;
  --light-color: #f0ebf8;
}

.body {
  background: var(--light-color);
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 640px;
  width: auto;
  margin: auto;
  padding: 12px;
}

.card {
  background-color: #fff;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  margin-bottom: 12px;
  padding-top: 22px;
  padding-top: 24px;
}

.px24 {
  padding-left: 24px;
  padding-right: 24px;
}

.form-header {
  border-top: 10px solid var(--dark-color);
  margin-top: 0;
}

.section .description {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  border: 1px solid rgb(218, 220, 224);
  border-top: 0px;
  margin-bottom: 12px;
  padding: 24px;
  padding-left: 17px;
  word-wrap: break-word;
}

.section-header {
  padding: 12px 24px;
  background: var(--dark-color);
  border-radius: 8px 8px 0 0;
  word-wrap: break-word;
}

.section-header .name {
  color: white;
  font-size: 16px;
  font-family: docs-Roboto, Helvetica, Arial, sans-serif;
}
.form-info {
  padding-bottom: 12px;
}

.form-name {
  font-size: 24pt;
  font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  margin-bottom: 12px;
  word-wrap: break-word;
  line-height: normal;
}

.form-description {
  font-size: 11pt;
  line-height: 15pt;
  letter-spacing: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: rgb(32, 33, 36);
  margin-top: 24px;
  word-wrap: break-word;
  line-height: normal;
}

.form-instruction {
  color: rgb(217, 48, 37);
  margin-top: 14px;
  margin-bottom: 14px;
}

.question {
  padding-left: 15px;
  padding-bottom: 24px;
}

.first-question-subsequent-section {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.first-question-subsequent-section.required-question {
  border-top: 0 !important;
}

.required-question {
  border: 1px solid rgb(217, 48, 37);
}

.question-text {
  font-size: 12pt;
  font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  margin-bottom: 16px;
  margin-left: 10px;
  word-wrap: break-word;
}

.option-label {
  overflow-wrap: anywhere;
}

.required {
  color: rgb(217, 48, 37);
}

.validation-warning {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-left: 10px;
}

.validation-warning mat-icon {
  margin-right: 5px;
}

.validation-warning .error-message {
  padding-top: 2px;
}

.mat-mdc-radio-button.mat-primary,
.mat-mdc-checkbox {
  display: block;
}

.buttons {
  display: flex;
  padding-bottom: 10px;
}

.spacer {
  flex: 1;
}

.policy-text {
  margin: 16px 0;
  padding: 0 16px;
  font: 400 12px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  margin: 16px 0;
  padding: 0 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.66);
}

.policy-text a {
  color: rgba(0, 0, 0, 0.66);
}

.google-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-logo img {
  padding: 5px;
}

.forms-logo {
  font-size: 22.1px;
  color: #a7a4ad;
}

.footer-button-group {
  display: flex;
}

.footer-button-group > div {
  width: 50%;
  display: flex;
}

.footer-button-group .action-buttons button {
  margin-right: 20px;
}

.footer-button-group .clear-button button {
  margin-left: auto;
}

.submit-footer {
  margin-top: 40px;
}
