<div class="body">
  <div class="container">
    <mat-spinner
      *ngIf="loader"
      style="
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
      "
    ></mat-spinner>

    <form *ngIf="!loader" [formGroup]="viewForm">
      <ng-container
        *ngTemplateOutlet="
          formheader;
          context: {
            $implicit: getFirstSection()
          }
        "
      >
      </ng-container>
      <div formArrayName="sections">
        <ng-container
          *ngFor="let section of sections.controls; let sectionIndex = index"
        >
          <ng-container *ngIf="currentSectionindex == sectionIndex">
            <ng-container
              *ngTemplateOutlet="
                sectionTemplate;
                context: {
                  $implicit: section,
                  sectionData: responseData.sections[sectionIndex],
                  isFirst: currentSectionindex == 0,
                  sectionIndex: sectionIndex
                }
              "
            >
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container *ngTemplateOutlet="footerButtons"> </ng-container>
        <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
      </div>
    </form>
  </div>
</div>

<ng-template #formheader let-section>
  <div class="form-header card">
    <div class="form-info px24">
      <div class="form-name">{{ section.name }}</div>
      <div class="form-description">{{ section.description }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="form-instruction px24">* Indicates required question</div>
  </div>
</ng-template>

<ng-template
  #sectionTemplate
  let-section
  let-isFirst="isFirst"
  let-sectionData="sectionData"
  let-sectionIndex="sectionIndex"
>
  <div [formGroup]="section">
    <div *ngIf="!isFirst" class="section">
      <div class="section-header px24">
        <div class="name">{{ sectionData.name }}</div>
      </div>
      <div *ngIf="sectionData.description != ''" class="description">
        {{ sectionData.description }}
      </div>
    </div>
    <div formArrayName="questions">
      <ng-container
        *ngFor="
          let question of getQuestions(sectionIndex).controls;
          let questionIndex = index
        "
      >
        <ng-container
          *ngTemplateOutlet="
            questionTemplate;
            context: {
              $implicit: question,
              sectionIndex: sectionIndex,
              questionIndex: questionIndex,
              questionData: sectionData.questions[questionIndex]
            }
          "
        ></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template
  #questionTemplate
  let-question
  let-sectionIndex="sectionIndex"
  let-questionIndex="questionIndex"
  let-questionData="questionData"
>
  <div [formGroup]="question">
    <div class="question mcq card px24">
      <!-- [ngClass]="{ 'required-question': questionData.required }" -->

      <div class="question-text">
        {{ questionData.label }}

        <span *ngIf="questionData.required" class="required">*</span>
      </div>
      <div>
        <div class="options">
          <div formArrayName="options">
            <div *ngIf="questionData.type == QuestionType.single_select">
              <div
                *ngFor="
                  let option of getOptions(sectionIndex, questionIndex)
                    .controls;
                  let optionIndex = index
                "
              >
                <div *ngIf="optionIndex == 0">
                  <mat-radio-group
                    aria-label="Select an option"
                    color="primary"
                    [formControlName]="optionIndex"
                  >
                    <mat-radio-button
                      *ngFor="let option of questionData.options"
                      [value]="option.id"
                    >
                      <div class="option-label">
                        {{ option.label }}
                      </div>
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>

            <div *ngIf="questionData.type == QuestionType.multi_select">
              <div *ngFor="let option of questionData.options">
                <mat-checkbox
                  [id]="option.id"
                  color="primary"
                  [checked]="
                    isCheckBoxChecked(sectionIndex, questionIndex, option.id)
                  "
                  (change)="
                    onCheckboxChange(
                      $event,
                      option.id,
                      sectionIndex,
                      questionIndex
                    )
                  "
                >
                  <div class="option-label">
                    {{ option.label }}
                  </div>
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="questionData.required" class="required validation-warning">
          <mat-icon class="material-icons-outlined">error</mat-icon>
          <div class="error-message">This is a required question</div>
        </div> -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #checkboxesTemplate let-options>
  <div class="options">
    <mat-checkbox
      class="example-margin"
      color="primary"
      *ngFor="let option of options"
      >{{ option.label }}</mat-checkbox
    >
  </div>
</ng-template>

<ng-template #footerButtons>
  <div class="footer-button-group">
    <div class="action-buttons">
      <button
        mat-raised-button
        (click)="backSection()"
        class="fg-dark"
        *ngIf="currentSectionindex > 0"
      >
        Back
      </button>
      <button
        *ngIf="currentSectionindex < responseData.sections.length - 1"
        mat-raised-button
        (click)="nextSection()"
        class="fg-dark"
      >
        Next
      </button>
      <button
        *ngIf="currentSectionindex == responseData.sections.length - 1"
        mat-raised-button
        color="primary"
        (click)="submitForm()"
      >
        Submit
      </button>
    </div>
    <div class="clear-button">
      <button mat-button color="primary">Clear form</button>
    </div>
  </div>
</ng-template>

<ng-template #footerTemplate>
  <div class="submit-footer">
    <div class="policy-text">
      This content is neither created nor endorsed by Google..
      <a
        href="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdGA7g8YeOVoZeiGmxVnniAP5XgTIvd55cj6DBULzWZUga-XQ/reportabuse?source=https://docs.google.com/forms/d/e/1FAIpQLSdGA7g8YeOVoZeiGmxVnniAP5XgTIvd55cj6DBULzWZUga-XQ/viewform"
        >Report Abuse
      </a>
      -
      <a href="https://policies.google.com/terms"> Terms of Service </a>
      -
      <a href="https://policies.google.com/privacy"> Privacy Policy </a>
    </div>
    <div class="google-logo">
      <img src="assets/images/googlelogo.svg" alt="Google" />
      <div class="forms-logo">Forms</div>
    </div>
  </div>
</ng-template>
