<app-header></app-header>
<div class="container">
    <div class="new-and-template">
        <mat-grid-list cols="6" rowHeight="150px" gutterSize ="20px">
            <mat-grid-tile colspan=1 rowspan=1>
            </mat-grid-tile>
            <mat-grid-tile colspan=1 rowspan=1 class="card">
                card
            </mat-grid-tile>
            <mat-grid-tile colspan=1 rowspan=1 class="card">
                card
            </mat-grid-tile>
            <mat-grid-tile colspan=1 rowspan=1 class="card">
                card
            </mat-grid-tile>
            <mat-grid-tile colspan=1 rowspan=1 class="card">
                card
            </mat-grid-tile>
            <mat-grid-tile colspan=1 rowspan=1 >
            </mat-grid-tile>            
          </mat-grid-list>
    </div>
    <div class="recent-forms">

    </div>
</div>